@import "../../../../assets/scss/index";

.create-user-wrapper {
   @include flex(fully);
    height: 100%;
    width: 100%;

    & .form-container {
        width: 420px;
        & .form-title {
            @include flex(vertical);
            color: $color-white;
            margin-bottom: $size-14;
            & span:first-child {
                font-size: $size-22;
                font-weight: bolder;
                margin-bottom: $size-5;
            }
            & span:last-child {
                font-size: $size-18;
                font-weight: 300;
            }
        }
        & .form-tip {
            color: $color-white;
            font-style: italic;
            font-size: $size-6;
            margin-bottom: $size-8;
            padding-left: $size-8;
            opacity: .8;
            display: block;
        }

        & .error-panel {
            background-color: lighten($color-warning-3, 12%);
            color: $color-white;
            font-size: $size-7;
            text-align: center;
            padding: $size-8 0;
            width: 100%;
            border-radius: $size-5;
            margin: $size-10 0;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            & i {
                right: -10px;
                font-size: 80px;
                opacity: .6;
                position: absolute;
            }
        }
    }
    & .result-container {
        width: 420px;

        & .data {
            @include flex(vertical);
            color: $color-white;
            margin-bottom: $size-10;

            & span:first-child {
                font-size: $size-20;
                font-weight: 500;
            }

            & span:last-child {
                font-size: $size-8;
                font-weight: lighter;
                opacity: .8;
            }
        }

        & .birthday-info {
            @include flex(vertical);
            color: $color-white;
            margin: $size-10 0 $size-30 0;

            & .birthday-left {
                & i {
                    margin-right: $size-4;
                }
            }

            & .birthday-today-title {
                @include flex(fully);
                margin-top: $size-15;
                text-align: center;
                font-size: $size-12;
                color: $color-main;
                & i {
                    font-size: $size-18;
                }
            }

            & .birthday-today-poem {
                @include scroll(y);
                @include scrollbar(small);
                max-height: 35vh;
                text-align: center;
                font-size: $size-7;
                font-style: italic;
                margin-top: $size-15;
                white-space: pre-line;
            }

            & .author {
                font-size: $size-7;
                text-align: right;
                margin-top: $size-4;
            }
        }
    }
}

// Mobile styles responsive
@media (min-width: 320px) and (max-width: 665px) {
    .create-user-wrapper {
        & .form-container {
            width: 96%;
        }
        & .result-container {
            width: 96%;
        }
    }
}
